# Secrets
.github_token

# .NET / Visual Studio build artifacts
bin/
obj/
*.user
*.suo
*.pdb
*.cache
*.log
*.vs/
*.DS_Store

# General build artifacts
artifacts/
*.dll
*.exe   # ignore all .exe by default

# Logs
logs/

# OS
.DS_Store
Thumbs.db

# Release folder
release/       # keep the folder itself
release/**/*.exe   # ignore all .exe files inside release and its subfolders
